{% extends 'admin/base.html' %}

{% block header_title %}
  {% trans %}Live Python Console{% endtrans %}
{% endblock %}

{% block content %}

        {% if save_to_datastore and codes_name != "" %}
<b>PythonScript '{{ codes_name }}' saved to datastore</b> <BR>
Hosted at <a href="{{ pub_url }}">{{ pub_url }}</a><BR>
        {% endif %}

  {{ lib.render_form(form, uri_for('live_python'), btn='Run') }}
  
        {% if codes_content %}
<BR><b>{{ codes_name }}</b>
<BR><b>Executing code:</b> 
<BR>{{ codes_content }} 
<BR><BR><b>Console Output:</b> 
<BR>{{ console_output }}<BR><BR>
        {% endif %}

{% endblock %}